.main-container {
    display: grid;
    margin: 0;
    grid-template-rows: 120px 60px auto 30px;
    grid-template-areas: 
    "nav-bar"
    "header"
    "content"
    "footer";
}


/* Content */
.content {
    display: flex;
    gap: 30px;
    margin: 20px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.blog-post {
    display: grid;
    font-family: Muli;
    gap: 5px;
    column-gap: 30px;
    padding: 15px;
    border: 2px solid #036;
    background-color: #EFE;
    grid-template-rows: 5px 10px 20px 80px;
    grid-template-columns: 140px 350px;
    grid-template-areas:
    "image title"
    "image date"
    "image ."
    "image post";
}

.post-image {
    display: flex;
    grid-area: image;
    align-items: center;
    justify-content: center;
}

.pic {
    max-width: 100%;
    max-height: 100%;
}

.post-title {
    grid-area: title;
    font-size: 25px;
    color: #036;
}

.post-text {
    grid-area: post;
}