.main-container {
    display: grid;
    margin: 0;
    grid-template-rows: 40px 60px auto 30px;
    grid-template-areas: 
    "nav-bar"
    "header"
    "content"
    "footer";
}


/* Header */
.nav-bar {
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: space-between;
    background-color: darkslategray;
}

.pages {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-link {
    color: white;
}

.logo {
    height: 25px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: lightblue;
}


/* Content */
.content {
    display: flex;
    padding: 20px 0 20px 0;
    align-items: center;
    gap: 30px;
    flex-direction: column;
}

.blog-post {
    display: grid;
    gap: 20px;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid grey;
    grid-template-rows: 20px 100px;
    grid-template-columns: 140px 400px;
    grid-template-areas:
    "image title"
    "image text";
}

.post-image {
    grid-area: image;
    border-radius: 100px;
    text-align: center;
}

.pic {
    height: 100%;
}

.post-title {
    grid-area: title;
}

.post-text {
    grid-area: text;
}


/* Footer */
.footer {
    display: flex;
    background-color: darkslategray;
    align-items: center;
    justify-content: center;
}