@import "home.css";

/* Page */
html {
    background-color: #9BD;
    color: #036;
    font-family: Didot, sans-serif;
    font-weight: 400;
}


/* Header */
.header {
    font-size: 25px;
}

.nav-bar {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    border: solid #EFE;
    border-width: 3px 0 3px 0;
}

.pages {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-link {
    color: #036;
}

.social {
    display: flex;
    gap: 10px;
}

.logo {
    height: 30px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

/* Content */
main {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}


/* Footer */
.footer {
    display: flex;
    border: solid #EFE;
    border-width: 3px 0 3px 0;
    align-items: center;
    justify-content: center;
}