@import "layout.css";
@import "home.css";
@import "post.css";

/* Header */
.header {
    font-size: 25px;
}

.nav-link {
    color: #036;
}

/* Content */
main {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}